version: 2.1
orbs:
  aws-s3: circleci/aws-s3@1.0.8
jobs:
  build:
    docker:
      - image: "circleci/node"
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            npm install

      - save_cache:
          paths:
            - ./node_modules.
          key: v1-dependencies-{{ checksum "package-lock.json" }}

      - run:
          name: run tests
          command: |
            npm run test

  deploy:
    docker:
      - image: "circleci/node"
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            npm install

      - save_cache:
          paths:
            - ./node_modules.
          key: v1-dependencies-{{ checksum "package-lock.json" }}

      - run:
          name: build React app
          command: |
            npm run build

      - aws-s3/sync:
          from: ./build/
          to: "s3://freefrom-compensation-dev"
          overwrite: true
          arguments: '--exclude ".circleci*" --exclude ".git*" --acl public-read'
          # need to add --cache-control max-age=31536000,public once there's versioning in place
      # - run:
      #     name: Invalidate CloudFront
      #     command: |
      #       aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_ID --paths "/*"

workflows:
  version: 2
  build:
    jobs:
      - build
  deploy:
    jobs:
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
